{
  "presets": [
   ["env", {
    "targets": {
      "browsers": ["last 2 versions", "safari >= 7"]
    },
    "env": {
      "development": {
        "presets": ["react-hmre"]
      }
    },
    "modules": false
   }]
  ],
  "plugins": [
    ["transform-runtime", "transform-object-rest-spread", {
     "polyfill": false,
     "regenerator": true
    }]
   ]
}