.background{
    background-image:linear-gradient(60deg, #E52A6F, #67AECA);
}

#logo {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #E52A6F;
    font-size: 30px;
}

.labelSign {
    font-family: 'Lato', sans-serif;
    border-bottom: solid 2px #E52A6F;
    font-size: 1em;
    letter-spacing: 3px;
}

.modalHeader {
    background-image:linear-gradient(60deg, #E52A6F, #67AECA);
}

.titleSign {
    font-family: 'Lato', sans-serif;
    color: white;
}

//ONBOARDING CSS
.columnWizard{
    background-color: white;
}

.titleOnboarding{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.labelOnboarding {
    font-family: 'Lato', sans-serif;
    border-bottom: solid 2px #E52A6F;
    margin-top: 8%;
    font-size: 1em;
    letter-spacing: 2px;
}

.buttonsignIn{
    margin-top: 5%;
    background-color: white;
    font-weight: bold;
    color: black;
    opacity: 0.3;
    padding-left: 30px;
    padding-right: 30px;
}

.buttonregister {
    font-family: 'Lato', sans-serif;
    background-color: white;
    font-weight: bold;
    color: black;
    opacity: 0.4;
    padding-left: 30px;
    padding-right: 30px;
}

.buttonOnboarding {
    background-color: #E52A6F;
    opacity: 0.8;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    color: white;
    border: none;
}

.buttonOnboarding:hover {
    background-color: rgba(229, 42, 111, 0.288);
    color: #E52A6F;
    border: solid 1px #E52A6F;
}

.buttonLocation {
    background-color: rgba(229, 42, 111, 0.461);
    // opacity: 0.9;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    color: white;
    border: none;
}

.buttonLocation:hover {
    background-color: rgba(229, 42, 111, 0.288);
    color: #E52A6F;
}

.buttonSubmit {
    background-color: #E52A6F;
    opacity: 0.8;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: white;
    border: none;
}

.buttonSubmit:hover {
    background-color: rgba(229, 42, 111, 0.288);
    color: #E52A6F;
    border: solid 1px #E52A6F;
}

.progressOnboarding {
    height: 5px;
    margin-top: 8%;
}

.button {
    font-family: 'Lato', sans-serif;
}

.buttonProfile {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: #E52A6F;
    border: none;
}

.buttonLikesViews {
    margin-top: 5%;
    color: #E52A6F;
    border: solid 1px #E52A6F;
}

.buttonLikesViews:hover {
    margin-top: 5%;
    background-color: rgba(229, 42, 111, 0.461);
    border: solid 1px #E52A6F;
}

.round-button:hover {
    background: #262626;
}

.teaserText {
    font-family: 'Lato', sans-serif;
    color: white;
}

// USER PROFILE PAGE

//REACT TAGS CUSTOMIZE
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

// DASHBOARD CSS
.cardProfile {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 3%;
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: 1px 1px 10px rgba(85, 85, 85, 0.577);
}

.cardProfile:hover {
    border: none;
    border-radius: 20px;
    opacity: 0.99;
}

.imageCard {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}

.buttonLike {
    background-color: white;
    border: none
}

.buttonLike:hover {
    background-color: white;
    border: none
}

.icon {
    color: grey;
}

.icon:hover {
    color: #E52A6F;
}

.navbar {
    border-bottom: 1px solid #DEDEDE; 
}

.aside {
    display:block;
    background-color: #E52A6F;
    border-right: 1px solid #DEDEDE;
}

.messages {
    display:block;
    background-color: #fff;
    border-right: 1px solid #DEDEDE;
}

.message {
    display:block;
    background-color: #fff;
}

.aside .compose {
    height: 95px;
    margin:0 -10px;
    padding: 25px 30px;
}


// .aside .compose .button .compose {
//     font-size: 14px;
//     font-weight: 700;
// }

// .aside .main {
//     padding: 40px;
//     color: #6F7B7E;
// }

// .aside .title {
//     color: #6F7B7E;
//     font-size: 12px;
//     font-weight: bold;
//     text-transform: uppercase;
// }

// .aside .main .item {
//     display: block;
//     padding: 10px 0;
//     color: #6F7B7E;
// }

// .aside .main .item.active {
//     background-color: #F1F1F1;
//     margin: 0 -50px;
//     padding-left: 50px;
// }

// .aside .main .item:active,.aside .main .item:hover {
//     background-color: #F2F2F2;
//     margin: 0 -50px;
//     padding-left: 50px;
// }

// .aside .main .icon {
//     font-size: 19px;
//     padding-right: 30px;
//     color: #A0A0A0;
// }

// .aside .main .name {
//     font-size: 15px;
//     color: #5D5D5D;
//     font-weight: 500;
// }

.card.active {
    background-color:#F5F5F5;
}

.delete {
    background-color: #E52A6F;
}

.messages-exit {
    opacity: 1;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
    height: 50px;
  }

.messages-exit.messages-exit-active {
    overflow: hidden;
    opacity: 0.01;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 0px;
    transition: opacity 300ms ease-in,
                padding-top 500ms ease-in,
                padding-bottom 500ms ease-in,
                margin-bottom 500ms ease-in,
                height 500ms ease-in;
  }


  // OTHER USE PROFILE

  .labelProfile {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
  }

  .homepageInfo {
    font-family: 'Bungee', cursive;
    color: white;
    font-size: 1em;
    // font-weight: bolder;
  }