#logo {
    font-family: Amatic SC;
    font-weight: bold;
    color: #F9BE02;
    font-size: 50px;
}

.button {
    font-family: Amatic SC;
    font-weight: bold;
    color: #FFFFFF;
    background-image: linear-gradient(60deg, #F9BE02, #F53240);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}